<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- 설정 영역 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

  <!-- VO 클래스에 대한 별칭 설정 -->
	<typeAliases>
		<typeAlias alias="userProfile" type="com.gemdori.member.vo.UserProfileVO" />
		<typeAlias alias="userSign" type="com.gemdori.member.vo.UserSignVO" />
		<typeAlias alias="userSecurity" type="com.gemdori.member.vo.UserSecurityVO" />
		<typeAlias alias="userFullVO" type="com.gemdori.member.vo.UserFullVO" />
    <typeAlias alias="GameVO" type="com.gemdori.vo.GameVO"/>
	</typeAliases>

  <!-- DB 환경 설정 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"	value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@192.168.0.25:1521:xe"/>
<!-- 				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" /> -->
				<property name="username" value="scott" />
				<property name="password" value="tiger" />
			</dataSource>
		</environment>
	</environments>

  <!-- 매퍼 XML 파일 등록 -->
	<mappers>
		<mapper resource="com/gemdori/member/mapper/UserMapper.xml" />
    	<mapper resource="com/gemdori/main/mapper/GameMapper.xml"/>
	</mappers>

</configuration>
