<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gemdori.mypage.mapper.MyPageMapper">
	<!-- 마이페이지 최근 리뷰 3개 가져오기 -->
	<select id="selectRecentReviews" parameterType="string" resultType="com.gemdori.mypage.vo.RecentReviewVO">
	    SELECT * FROM (
        SELECT 
            g.game_title AS gameTitle,
            r.review_contents AS reviewContents,
            TO_CHAR(r.write_date, 'YYYY-MM-DD') AS writeDate,
            r.rating AS rating
        FROM gemdori_review_tbl r
        JOIN gemdori_game_tbl g ON r.game_code = g.game_code
        WHERE r.user_code = #{userCode}
        ORDER BY r.write_date DESC
    )
	    <![CDATA[
	    WHERE ROWNUM <= 3
	    ]]>
	</select>
</mapper>