body {
	font-family: 'Noto Sans KR', sans-serif;
	padding: 30px;
	background: #f5f5f5;
}

form {
    display: flex; /* Flex 컨테이너로 설정 */
    flex-direction: column; /* 아이템들을 세로로 배치 */
    align-items: center; /* 가로 방향 중앙 정렬 */
}

form div {
    margin-bottom: 20px;
    width: 90%;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input {
	width: 100%;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #ccc;
}
.button__wrap {
	width: 100%;
	display: flex;
	justify-content: center;
}

button {
	padding: 10px 20px;
	background: #e53637;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 20px; 
}

button:hover {
	background: #b0272b;
	transform: scale(1.05);
}